/*********************/
/*** Root / Page Styles ***/
/*********************/

:root {
    --black-color: #000;
    --dark-teal-color: #23493e;
    --teal-color: #306455;
    --rose-color: #ECDFE2;
    --beige-color: #9D6942;
    --light-gray-color: #f5f5f5;
    --white-color: #fff;
    --bottom-margin: 20px;

    --fancy-font: "Ephesis", cursive;
    --regular-font: "Open Sans", sans-serif;
    --serif-font: "Cinzel", serif;
}

body {
    font-size: 16px;
    font-family: var(--regular-font);
}

.j-page {

}

.page-container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
    line-height: 1.5;

}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


/*********************/
/*** Component Styles ***/
/*********************/

.j-heading {
    font-family: var(--serif-font);
    font-size: 1.6em;
}
.j-heading--em {
    display: block;
    text-transform: lowercase;
    font-style: italic;
}

.j-heading--2 {
    font-size: 2em;
    text-transform: uppercase;
}

.j-heading__top {
    margin: 0 0 -1.1em 1.9em;
    display: block;
    text-transform: uppercase;
}
.j-heading__fancy {
    display: block;
    font-family: var(--fancy-font);
    font-size: 2em;  
}

.j-button--plain {
    position: relative;
    display: inline;
    padding: 0;
    border: none;
    border-radius: 0;
    color: var(--black-color);
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    background: none;
    box-shadow: none;
    outline: none;
    transition: all 0.1s;
}
.j-button--plain:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: -10%;
        width: 120%;
}
.j-button--plain:focus,
.j-button--plain:hover,
.j-button--plain:active {
        background: none;
        box-shadow: none;
}

.j-button--plain:focus:after,
.j-button--plain:hover:after,
.j-button--plain:active:after {
    border-bottom: 3px solid var(--black-color);
}

.j-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 1.2em 5em;
    border: 1px solid var(--teal-color);
    border-radius: 0.1em;
    color: var(--black-color);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-image: none;
    background-color: var(--light-gray-color);
    transition: all 0.1s;
    outline: none;
}
.j-button:hover,
.j-button:focus {
    background-color: var(--rose-color);
    border-bottom-color: var(--teal-color);
}
.j-button:active {
    transform: translate(0,5px);
}
.j-cta-button {
    border-color: var(--beige-color);
    background-color: var(--teal-color);
    color: var(--light-gray-color);
}
.j-cta-button:hover,
.j-cta-button:focus {
    background-color: var(--dark-teal-color);
    border-color: var(--black-color);
}


/* Email Form Style */
.j-email-form__input {
    box-sizing: border-box;
    padding: 0.8em 1em;
    width: 100%;
    line-height: 2;
}
.j-email-form__input-container {
    position: relative;
    display: block;
    margin-bottom: 20px;    
}
.j-email-form__input-container-floater {
    display: block;
    top: 10px;
    left: 10px;
    position: absolute;
    font-size: 1.2em;
    pointer-events: none;
    transition: all 0.2s;

    font-style: italic;
}
.j-email-form__input:focus ~ .j-email-form__input-container-floater,
.j-email-form__input:not(:focus):valid ~ .j-email-form__input-container-floater {
    top: -10px;
    border: 1px solid var(--beige-color);
    padding: 2px 5px;
    font-size: 0.7em;
    background-color: var(--white-color);
}
.j-email-form__submit {
    width: 100%;
}

/* Stats  */
.j-stats {
    display: grid;
    grid-template-columns: [col1]250px[col2]2px[col3]250px[col4]2px[col5]250px[colend];
    gap: 20px;
    justify-content: center;
    font-size: 1.2em;
}
.j-stats__item {

    justify-self: center;
    align-self: center;

    padding: 0 30px;
    text-align: center;
}
.j-stats__divider {
    height: 100%;
    border-left: 2px solid var(--white-color);

}
.j-stats__item:last-child:after {
    content: none;
}

/* Testimonial  */
.j-testimonial {
    padding: 50px 200px;
}
.j-testimonial--with-i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.j-testimonial,
.j-testimonial--with-i {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.j-testimonial__h {
    margin: 0 auto 20px;
    text-align: center;
}
.j-testimonial__sig {
    font-weight: 600;
}
.j-testimonial__q-c,
.j-backstory__p-c {
    width: 50%;
}
.j-testimonial__q {
    position: relative;
    padding: 0 40px;
    margin-bottom: 20px;
}
.j-testimonial__q:before,
.j-testimonial__q:after {
    font-size: 3em;
    position: absolute;
}

.j-testimonial__q:before {
    content: "\201C";
    top: -30px;
    left: 0;

}
.j-testimonial__q:after {
    content: "\201D";
    bottom: -30px;
    right: 20px;
}
.j-testimonial__sig-c {
    font-weight: 400;
    font-style: italic;
}
.j-testimonial--with-i,
.j-backstory--with-i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.j-testimonial--image-c,
.j-backstory--image-c {
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.j-testimonial--image,
.j-backstory--image {
    width: 100%;
}

.j-backstory {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.j-backstory__p {
    padding: 0 30px;
}

/*********************/
/*** Layout Styles ***/
/*********************/

.j-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.j-nav-item {
    display: inline-block;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: 600;
}

.j-nav-item:last-child {
    padding-right: 0;
}

.j-main {
    background-image: url(../images/douglas.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60% auto;
    height: 100%;
}
.j-main--fade {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(157,105,66,0.50) 40%, rgba(157,105,66,0.80) 55%, rgba(157,105,66,1) 60%);
    
    color: var(--light-gray-color);
}
.j-main__holder {
    display: flex;
    justify-content: flex-end;
}
.j-main__content {
    padding: 40px 20px 40px 0;
    width: 40%;
}
.j-main__text {
    margin: 20px 0;
    font-size: 1.1em;
}
.j-main__text--mid {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2;
}
.j-main__item {
    position: relative;
    padding-left: 40px;
    font-size: 1.2em;
    line-height: 2;
}
.j-main__item::before {
    content: "/";
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: 900;
    text-shadow: 3px 3px var(--teal-color);
}

.j-main--blush {
    background-color: var(--rose-color);
    color: var(--black-color);
}
.j-main--blush__content {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.j-main__content-container {
    padding-right: 50px;
}
.j-main__image-container {
    overflow: hidden;
    border-radius: 50% 50% 10px 10px;
    width: 50%;
}
.j-main__image {
    width: 100%;
}
/* bottom padding is for j-main--inverse-bump */
.j-main--inverse {
    padding: 30px 0 100px 0;
    background-color: var(--teal-color);
    color: var(--white-color);
}
/* this must be next to j-main--inverse */
.j-main--inverse-bump,
.j-about {
    margin: 0 auto;
    position: relative;
    background-color: white;
    overflow-x: clip;
}
.j-main--inverse-bump:before {
    content: "";
    display: block;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: -70px;
    right: -25%;
    height: 400px;
    width: 150%;
    background-color: var(--white-color);
    z-index: 10;
}

.j-main--inverse-bump-h {
    position: relative;
    font-size: 4em;
    text-align: center;
    margin-bottom: 30px;
}
.j-main--inverse-bump-content {
    position: relative;
    z-index: 20;
}
.j-mini {
    margin: 80px 400px;
    text-align: center;
}
.j-mini__h {
    margin-bottom: 20px;
    text-align: center;
}


/*********************/
/*** Footer Styles ***/
/*********************/
.j-footer {
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
}